@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from zairito-html.zainiktheme.com/demo/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Feb 2023 08:43:09 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Zairito - eCommerce HTML Template" />
    <meta name="keywords" content="business,eCommerce, Ecommerce, ecommerce, shop, shopify, shopify ecommerce, creative, woocommerce, design, gallery, minimal, modern, html, html5, responsive" />
    <meta name="author" content="Zairito" />


</head>
<body>
    <!-- breadcrumb area start here  -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h2 class="page-title">Contact Us</h2>
                <ul class="breadcrumb-pages">
                    <li class="page-item"><a class="page-item-link" href="index.html">Home</a></li>
                    <li class="page-item">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end here  -->
    <!-- contact us area start here  -->
    <div class="contact-us-area section-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="contact-us-top">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-contact-info border-0 text-center">
                                    <img class="contact-info-icon" src="assets/images/contact-info-1.png" alt="contact-info" />
                                    <h3 class="contact-info-title">Message</h3>
                                    <p class="contact-info-content">Send us a text & an ambassador will respond 1-814-251-9966</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-contact-info text-center">
                                    <img class="contact-info-icon" src="assets/images/contact-info-2.png" alt="contact-info" />
                                    <h3 class="contact-info-title">Address</h3>
                                    <p class="contact-info-content">461 Valencia Street San Francisco, CA 94103 Manhattan NYC </p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single-contact-info text-center">
                                    <img class="contact-info-icon" src="assets/images/contact-info-3.png" alt="contact-info" />
                                    <h3 class="contact-info-title">We're Open</h3>
                                    <p class="contact-info-content">Our store has opened for shopping, exchanges Every day 11am to 7pm</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="contact-form-area">
                        <div class="contct-form-top text-center">
                            <h2 class="form-title">Got any questions?</h2>
                            <p class="form-subtitle">Use the form below to get in touch with the sales team</p>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="EmilAddress" name="EmilAddress" placeholder="Emil Address" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" placeholder="Contact Number" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control message-box" id="message" name="message" rows="3" placeholder="Type Message Here...."></textarea>
                                    </div>
                                    <div class="form-button text-center">
                                        <button type="button" class="form-btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us area end here  -->
    <!-- shop map area start here  -->
    <div class="shop-map-area">
        <div class="shop-info">
            <div class="shop-info-left">
                <h2 class="shop-info-title">Local Pickup Available</h2>
                <p class="shop-info-sub-title">301 Front St Toronto, Canada</p>
                <ul class="shop-opaing-time">
                    <li class="open-time">Mon - Fri, 8:30am - 10:30pm,</li>
                    <li class="open-time">Sunday, 8:30am - 10:30pm</li>
                </ul>
            </div>
            <div class="shop-info-right">
                <span class="label">Shops Image</span>
            </div>
        </div>
        <div id="gmap" class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839.0179632416985!2d89.5538504127622!3d22.801132631062536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff8f2b1098bf95%3A0xbce09c90b98f8380!2sJust%20Orders%20Khulna!5e0!3m2!1sen!2sbd!4v1636005141952!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <!-- shop map area start here  -->
</body>

<!-- Mirrored from zairito-html.zainiktheme.com/demo/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Feb 2023 08:43:11 GMT -->
</html>
